/* Cores */
:root{
    --cor-fundo-grid: rgb(236, 226, 226);
    --cor-fundo-titulo: rgb(83, 137, 168);
    --cor-coluna-cabecalho: rgb(83, 137, 168);
    --cor-coluna-amostra: rgb(166, 188, 218);
    --cor-fundo-selecionando: rgb(75, 201, 223);
    --cor-fundo-botao: rgb(78, 134, 167);
}