/* Cores */
:root{
    --cor-fundo-grid: rgb(255, 188, 188);
    --cor-fundo-titulo: rgb(160, 85, 109);
    --cor-coluna-cabecalho: rgb(211, 137, 137);
    --cor-coluna-amostra: rgb(228, 193, 193);
}

/* Estilo da grid */
.wgrid{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: solid 2px black;
    border-radius: 16px;
    padding: 12px;
    background-color: var(--cor-fundo-grid);
}

/*Adicionado um título*/
.linha-detalhes{
    width: 100% !important;
}
.linha-detalhes .elemento-linha-grid{
    width: 100% !important;
    margin-top: -5px !important;
    margin-bottom: 0px;
    background-color: var(--cor-fundo-titulo);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
}

.linha-grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: center;
    justify-content: center; /*Centralizar todas as linhas*/
    gap: 12px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 2px;
}

/* Estilo das colunas da grid DO CABECALHO */
.elemento-linha-grid{
    width: 200px;
    height: 70px;
    justify-self: center;
    align-content: center;
    background-color: var(--cor-coluna-cabecalho);
    border: solid 0.8px black;
    border-radius: 16px;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.linha-amostra-grid{
    
}

/* Estilo das colunas da grid DAS AMOSTRAS */
.linha-amostra-grid .elemento-linha-grid{
    background-color: var(--cor-coluna-amostra);
    font-weight: normal !important;
    text-transform: none;
}